<%= form_for :developer, url: developers_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :devices %><br>
    <%= f.text_area :devices %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
