<p>
  <strong>Developer:</strong>
  <%= @phone.developer %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @phone.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @phone.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @phone.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @phone.year %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @phone.resolution %>
</p>

<p>
  <strong>Screen type:</strong>
  <%= @phone.screen_type %>
</p>

<p>
  <strong>DPI:</strong>
  <%= @phone.dpi %>
</p>

<p>
  <strong>Multitouch:</strong>
  <%= @phone.multitouch %>
</p>

<p>
  <strong>CPU:</strong>
  <%= @phone.cpu %>
</p>

<p>
  <strong>Cores:</strong>
  <%= @phone.cores %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @phone.frequency %>
</p>

<p>
  <strong>GPU:</strong>
  <%= @phone.gpu %>
</p>

<p>
  <strong>Inner memory:</strong>
  <%= @phone.inner_mem %>
</p>

<p>
  <strong>Access memory:</strong>
  <%= @phone.access_mem %>
</p>

<p>
  <strong>RAM:</strong>
  <%= @phone.ram %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @phone.cam %>
</p>

<p>
  <strong>Megapixels:</strong>
  <%= @phone.megapixels %>
</p>

<p>
  <strong>Photo resolution:</strong>
  <%= @phone.photo_res %>
</p>

<p>
  <strong>HDR:</strong>
  <%= @phone.hdr %>
</p>

<p>
  <strong>Front megapixels:</strong>
  <%= @phone.front_megapixels %>
</p>

<p>
  <strong>Video resolution:</strong>
  <%= @phone.video_res %>
</p>

<p>
  <strong>FPS:</strong>
  <%= @phone.fps %>
</p>

<p>
  <strong>4K video:</strong>
  <%= @phone.four_k_video %>
</p>

<p>
  <strong>3G:</strong>
  <%= @phone.three_g %>
</p>

<p>
  <strong>4G:</strong>
  <%= @phone.four_g %>
</p>

<p>
  <strong>WiFi:</strong>
  <%= @phone.wifi %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @phone.bluetooth %>
</p>

<p>
  <strong>NFC:</strong>
  <%= @phone.nfc %>
</p>

<p>
  <strong>GPS:</strong>
  <%= @phone.gps %>
</p>

<p>
  <strong>Gyroscope:</strong>
  <%= @phone.gyroscope %>
</p>

<p>
  <strong>Accelerometer:</strong>
  <%= @phone.accelerometer %>
</p>

<p>
  <strong>Barometer:</strong>
  <%= @phone.barometer %>
</p>

<p>
  <strong>Wireless charge:</strong>
  <%= @phone.wireless_charge %>
</p>

<p>
  <strong>Fast charge:</strong>
  <%= @phone.fast_charge %>
</p>

<p>
  <strong>VR:</strong>
  <%= @phone.vr %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @phone.battery %>
</p>

<p>
  <strong>Standby time:</strong>
  <%= @phone.standby_time %>
</p>

<p>
  <strong>Talk time:</strong>
  <%= @phone.talk_time %>
</p>

<p>
  <strong>OS:</strong>
  <%= @phone.os %>
</p>

<p>
  <strong>Color:</strong>
  <%= @phone.color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @phone.weight %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @phone.dimensions %>
</p>

<p>
  <strong>Material:</strong>
  <%= @phone.material %>
</p>

<p>
  <strong>Protection:</strong>
  <%= @phone.protection %>
</p>
