<p>
  <strong>Developer:</strong>
  <%= @tablet.developer %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @tablet.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @tablet.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tablet.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tablet.year %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @tablet.resolution %>
</p>

<p>
  <strong>Screen type:</strong>
  <%= @tablet.screen_type %>
</p>

<p>
  <strong>DPI:</strong>
  <%= @tablet.dpi %>
</p>

<p>
  <strong>Multitouch:</strong>
  <%= @tablet.multitouch %>
</p>

<p>
  <strong>CPU:</strong>
  <%= @tablet.cpu %>
</p>

<p>
  <strong>Cores:</strong>
  <%= @tablet.cores %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @tablet.frequency %>
</p>

<p>
  <strong>GPU:</strong>
  <%= @tablet.gpu %>
</p>

<p>
  <strong>Inner memory:</strong>
  <%= @tablet.inner_mem %>
</p>

<p>
  <strong>Access memory:</strong>
  <%= @tablet.access_mem %>
</p>

<p>
  <strong>RAM:</strong>
  <%= @tablet.ram %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @tablet.cam %>
</p>

<p>
  <strong>Megapixels:</strong>
  <%= @tablet.megapixels %>
</p>

<p>
  <strong>Photo resolution:</strong>
  <%= @tablet.photo_res %>
</p>

<p>
  <strong>HDR:</strong>
  <%= @tablet.hdr %>
</p>

<p>
  <strong>Front megapixels:</strong>
  <%= @tablet.front_megapixels %>
</p>

<p>
  <strong>Video resolution:</strong>
  <%= @tablet.video_res %>
</p>

<p>
  <strong>FPS:</strong>
  <%= @tablet.fps %>
</p>

<p>
  <strong>4K video:</strong>
  <%= @tablet.four_k_video %>
</p>

<p>
  <strong>Calls:</strong>
  <%= @tablet.calls %>
</p>

<p>
  <strong>SMS:</strong>
  <%= @tablet.sms %>
</p>

<p>
  <strong>MMS:</strong>
  <%= @tablet.mms %>
</p>

<p>
  <strong>3G:</strong>
  <%= @tablet.three_g %>
</p>

<p>
  <strong>4G:</strong>
  <%= @tablet.four_g %>
</p>

<p>
  <strong>WiFi:</strong>
  <%= @tablet.wifi %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @tablet.bluetooth %>
</p>

<p>
  <strong>NFC:</strong>
  <%= @tablet.nfc %>
</p>

<p>
  <strong>GPS:</strong>
  <%= @tablet.gps %>
</p>

<p>
  <strong>Gyroscope:</strong>
  <%= @tablet.gyroscope %>
</p>

<p>
  <strong>Accelerometer:</strong>
  <%= @tablet.accelerometer %>
</p>

<p>
  <strong>Barometer:</strong>
  <%= @tablet.barometer %>
</p>

<p>
  <strong>Wireless charge:</strong>
  <%= @tablet.wireless_charge %>
</p>

<p>
  <strong>Fast charge:</strong>
  <%= @tablet.fast_charge %>
</p>

<p>
  <strong>Stylus:</strong>
  <%= @tablet.stylus %>
</p>

<p>
  <strong>Keyboard:</strong>
  <%= @tablet.keyboard %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @tablet.battery %>
</p>

<p>
  <strong>Standby time:</strong>
  <%= @tablet.standby_time %>
</p>

<p>
  <strong>Talk time:</strong>
  <%= @tablet.talk_time %>
</p>

<p>
  <strong>OS:</strong>
  <%= @tablet.os %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tablet.color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @tablet.weight %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @tablet.dimensions %>
</p>

<p>
  <strong>Material:</strong>
  <%= @tablet.material %>
</p>

<p>
  <strong>Protection:</strong>
  <%= @tablet.protection %>
</p>
