<p>
  <strong>Developer:</strong>
  <%= @watch.developer %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @watch.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @watch.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @watch.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @watch.year %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @watch.resolution %>
</p>

<p>
  <strong>Screen type:</strong>
  <%= @watch.screen_type %>
</p>

<p>
  <strong>Color screen:</strong>
  <%= @watch.color_screen %>
</p>

<p>
  <strong>DPI:</strong>
  <%= @watch.dpi %>
</p>

<p>
  <strong>Touchscreen:</strong>
  <%= @watch.touchscreen %>
</p>

<p>
  <strong>Multitouch:</strong>
  <%= @watch.multitouch %>
</p>

<p>
  <strong>CPU:</strong>
  <%= @watch.cpu %>
</p>

<p>
  <strong>Cores:</strong>
  <%= @watch.cores %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @watch.frequency %>
</p>

<p>
  <strong>GPU:</strong>
  <%= @watch.gpu %>
</p>

<p>
  <strong>Inner memory:</strong>
  <%= @watch.inner_mem %>
</p>

<p>
  <strong>Access memory:</strong>
  <%= @watch.access_mem %>
</p>

<p>
  <strong>RAM:</strong>
  <%= @watch.ram %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @watch.cam %>
</p>

<p>
  <strong>Megapixels:</strong>
  <%= @watch.megapixels %>
</p>

<p>
  <strong>Photo resolution:</strong>
  <%= @watch.photo_res %>
</p>

<p>
  <strong>Autofocus:</strong>
  <%= @watch.autofocus %>
</p>

<p>
  <strong>Video recording:</strong>
  <%= @watch.video_rec %>
</p>

<p>
  <strong>Video resolution:</strong>
  <%= @watch.video_res %>
</p>

<p>
  <strong>FPS:</strong>
  <%= @watch.fps %>
</p>

<p>
  <strong>Finder:</strong>
  <%= @watch.finder %>
</p>

<p>
  <strong>Calls:</strong>
  <%= @watch.calls %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @watch.email %>
</p>

<p>
  <strong>SMS:</strong>
  <%= @watch.sms %>
</p>

<p>
  <strong>MMS:</strong>
  <%= @watch.mms %>
</p>

<p>
  <strong>WiFi:</strong>
  <%= @watch.wifi %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @watch.bluetooth %>
</p>

<p>
  <strong>NFC:</strong>
  <%= @watch.nfc %>
</p>

<p>
  <strong>GPS:</strong>
  <%= @watch.gps %>
</p>

<p>
  <strong>Gyroscope:</strong>
  <%= @watch.gyroscope %>
</p>

<p>
  <strong>Accelerometer:</strong>
  <%= @watch.accelerometer %>
</p>

<p>
  <strong>Barometer:</strong>
  <%= @watch.barometer %>
</p>

<p>
  <strong>Thermometer:</strong>
  <%= @watch.thermometer %>
</p>

<p>
  <strong>Compass:</strong>
  <%= @watch.compass %>
</p>

<p>
  <strong>Chronograph:</strong>
  <%= @watch.chronograph %>
</p>

<p>
  <strong>Pedometer:</strong>
  <%= @watch.pedometer %>
</p>

<p>
  <strong>Pulse sensor:</strong>
  <%= @watch.pulse_sensor %>
</p>

<p>
  <strong>Fitness tracker:</strong>
  <%= @watch.fitness_tracker %>
</p>

<p>
  <strong>Wireless charge:</strong>
  <%= @watch.wireless_charge %>
</p>

<p>
  <strong>Fast charge:</strong>
  <%= @watch.fast_charge %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @watch.battery %>
</p>

<p>
  <strong>Standby time:</strong>
  <%= @watch.standby_time %>
</p>

<p>
  <strong>Clock time:</strong>
  <%= @watch.clock_time %>
</p>

<p>
  <strong>OS:</strong>
  <%= @watch.os %>
</p>

<p>
  <strong>Online service:</strong>
  <%= @watch.online_service %>
</p>

<p>
  <strong>Compatibility:</strong>
  <%= @watch.compatibility %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @watch.speaker %>
</p>

<p>
  <strong>Microphone:</strong>
  <%= @watch.mic %>
</p>

<p>
  <strong>Color:</strong>
  <%= @watch.color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @watch.weight %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @watch.dimensions %>
</p>

<p>
  <strong>Material:</strong>
  <%= @watch.material %>
</p>

<p>
  <strong>Protection:</strong>
  <%= @watch.protection %>
</p>
